<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/sidebar :: common-sidebar" />


<body id="page-top">
	<div id="wrapper">
		<div th:replace="common/sidebar :: sidebar" />

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:replace="common/header :: header" />

				<!-- Begin Page Content -->
				<div class="container-fluid">



					<form class="form-horizontal" th:action="@{/admin/changePassword}"
						method="post">

						<legend class="center-block">
							Change Password<span style="font-size: small"> *
								is a required field</span>
						</legend>
						<hr>
						
						<div class="alert alert-success" th:if="${updateSuccess}">
							The password was changed!
						</div>
						
						<div class="alert alert-danger" th:if="${incorrectPassword}">
							An error occurred while changing the password!
						</div>

					

					
							
							
								<!-- Current Password -->
								<div class="form-group">
									<label class="col-md-2 control-label" for="password">*
										Current Password</label>

									<div class="col-md-8">
										<input type="password" name="password" class="form-control"
											id="password"  required="required"
											placeholder="Current Password" /> <span class="help-block">Current password
											of the admin</span>
									</div>

								</div>



								<!-- New Password -->
								<div class="form-group">
									<label class="col-md-2 control-label" for="newPassword">*
										New Password</label>

									<div class="col-md-8">
										<input type="password" name="newPassword" class="form-control"
											id="newPassword" 
											required="required" placeholder="New Password" /> <span
											class="help-block">New password of the admin</span>
									</div>
								</div>
								
								
												<!-- Confirm Password -->
								<div class="form-group">
									<label class="col-md-2 control-label" for="confirmPassword">*
										Confirm Password</label>

									<div class="col-md-8">
										<input type="password" name="confirmPassword" class="form-control"
											id="confirmPassword" 
											required="required" placeholder="Confirm Password" /> <span
											class="help-block">Comfirm password of the admin</span>
									</div>
								</div>

								






								<div class="form-group">
									<div class="col-md-2"></div>
									<div class="col-md-8">
										<button type="submit" class="btn btn-success">Change
											Password</button>
										<a class="btn btn-danger"
											th:href="@{/}">Cancel</a>
									</div>
								</div>
						

					







					</form>

				</div>
				<!-- /.container-fluid -->

			</div>
			<div th:replace="common/footer :: footer" />

		</div>
	</div>



	<div th:replace="common/footer-bottom-scripts :: footer-bottom-scripts" />

</body>

</html>
