<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/sidebar :: common-sidebar" />


<body id="page-top">
     <div id="wrapper">
        <div th:replace="common/sidebar :: sidebar" />

          <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               <div th:replace="common/header :: header" />

                    <!-- Begin Page Content -->
                <div class="container-fluid">

                  

                    <form class="form-horizontal" th:action="@{/admin/updateAdmin}" method="post"
				>
				<fieldset>
					<legend class="center-block">
						Update Admin Information<span style="font-size: small"> * is a
							required field</span>
					</legend>
					<hr>

					<input hidden="hidden" name="id" th:value="${adminUser.id}" />
					<input hidden="hidden" name="roleId" th:value="${adminUser.id}" />
					<input hidden="hidden" name="password" th:value="${adminUser.password}" />
				
					<!-- email -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="email">* Email</label>

						<div class="col-md-8">
							<input type="email" name="email" class="form-control" id="email"
								th:value="${adminUser.email}" required="required" placeholder="Email" />
							<span class="help-block">Email of the admin</span>
						</div>
					</div>

						<!-- Enabled or Disabled -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="enabled"
								th:checked="(${adminUser.enabled}==true)" /> <span class="text-success">Enable</span> </label> <label><input
								value="false" th:checked="(${adminUser.enabled}==false)" type="radio" name="enabled" />
								<span class="text-danger">Disable</span> </label> <span class="help-block" style="color:blue;"> (Whether the admin is
								enabled or disabled)</span>
						</div>
					</div>

										<!-- username -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="username">* Username</label>

						<div class="col-md-8">
							<input type="text" name="username" class="form-control" id="username"
								th:value="${adminUser.username}" required="required" placeholder="Username" />
							<span class="help-block">Username of the admin</span>
						</div>
					</div>

							<!-- firstname -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="firstname">* Firstname</label>

						<div class="col-md-8">
							<input type="text" name="firstname" class="form-control" id="firstname"
								th:value="${adminUser.firstname}"  placeholder="Firstname" />
							<span class="help-block">Firstname of the admin</span>
						</div>
					</div>

								<!-- lastname -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="title">* Lastname</label>

						<div class="col-md-8">
							<input type="text" name="lastname" class="form-control" id="lastname"
								th:value="${adminUser.lastname}"  placeholder="Lastname" />
							<span class="help-block">Lastname of the admin</span>
						</div>
					</div>

									
					

									<!-- phone -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="phone">* Phone</label>

						<div class="col-md-8">
							<input type="text" name="phone" class="form-control" id="phone"
								th:value="${adminUser.phone}"  placeholder="Phone" />
							<span class="help-block">Phone of the admin</span>
						</div>
					</div>
					
					<!-- adminAuthority -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="category">*
							Admin Authority</label>
						<div class="col-md-8">
							<select id="authorityId" name="authorityId"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option...</option>

                             
								<option th:selected="(${adminUser.authorityId}=='1')" value="1">Full Authority</option>
								<option th:selected="(${adminUser.authorityId}=='2')" value="2">News Authority</option>
								<option th:selected="(${adminUser.authorityId}=='3')" value="3">Contact Authority</option>
								<option th:selected="(${adminUser.authorityId}=='4')" value="4">User Authority</option>
								<option th:selected="(${adminUser.authorityId}=='5')" value="5">Comment Authority</option>
							</select>
						</div>
					</div>

				
					



					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Update Admin</button>
							<a class="btn btn-danger" th:href="@{/admin/adminList(id=${adminUser.id})}">Cancel</a>
						</div>
					</div>




					</fieldset>
					</form>

                </div>
                <!-- /.container-fluid -->

              </div>
            <div th:replace="common/footer :: footer" />

              </div>
              </div>



     <div th:replace="common/footer-bottom-scripts :: footer-bottom-scripts" />

	</body>

</html>
