
<!doctype html>
<html lang="en" xlmns:th="http://www.w3.org/1999/xhtml" 
xmlns:sec="http://www.w3.org/1999/xhtml">
  
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
    
      <link href="https://fonts.googleapis.com/css?family=Merriweather%7CRoboto:400,400i,700,700" rel="stylesheet"> 
      <script src="/assets/js/538d9daa14.js" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/584c55a7ed.js" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="/assets/css/magazinize-newspaper.css">

    
    

    <title>

Article Sidebar</title>
  </head>
  <body class="">

    

  <div id="banner1" class="section d-none d-md-flex container-fluid section__default no-gutter">
  
        <div class="bg position-absolute section-bg bg-black">
          
          
        </div>
      
      
      <hr class="divider section-divider d-none">
      
    <div class="section-inner">
    
      <div class="section-body">
      


    <div class="banner banner-728x90 align-self-center">
      
<a href="http://html.coolorize.com/magazinize/1.0.0/"><img src="/assets/banners/magazinize-728x90.jpg" alt="Image"></a>



    </div>
    <!-- /.banner banner-728x90 -->

      </div>
      <!-- /.section-body -->
      
    </div>
    <!-- /.section-inner -->
    
</div>
<!-- /#banner1.section d-none d-md-flex container-fluid section__default no-gutter-->

    
   

    <header class="header sections sections__header">

      <div class="bg sections-bg header-bg position-absolute"></div>

  <nav class="navbar navbar__middle navbar-expand navbar-light">

    <div class="navbar-container container-fluid">

      <div class="collapse navbar-collapse flex-wrap align-items-start">
    
        <ul class="navbar-nav navbar-nav--left w-50 w-md-25 order-1 my-1">
          



<!-- Menus Toggle -->
<li class="nav-item dropdown allow-hover">
  <a class="nav-link dropdown-toggle" href="#" id="menusDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars toggle-icon" aria-hidden="true"></i></a>
  <div class="dropdown-menu" role="menu" aria-labelledby="menusDropdown">
    
    <div class="dropdown-container container-xl">

    <span data-th-each="findAllCategory : ${findAllCategoryList}">
    <a class="dropdown-item col-6" th:href="@{/category?name=}+${findAllCategory.name}" th:text="${findAllCategory.name}">Featured</a>
   </span>

 


    </div>
    <!--/.dropdown-container.container-xl-->

  </div>
  <!--/.dropdown-menu.dropdown-menu-right-->
</li>
<!--/.nav-item-->
<!-- Menus Toggle -->


  
          
 <!-- Search Toggle -->    
<li class="nav-item dropdown allow-hover">
  <a class="nav-link dropdown-toggle" href="#" id="searchFormDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search" aria-hidden="true"></i></a>
  <div class="dropdown-menu" role="menu" aria-labelledby="searchFormDropdown">
    
    <div class="dropdown-container container-xl">

      <form id="searchForm" action="http://html.coolorize.com/magazinize/1.0.0/newspaper/search-results.html" method="get" class="form-inline flex-nowrap w-300px">
        <div class="input-group w-100">
          <input type="text" name="search" class="form-control form-control-sm" placeholder="Keyword">
          <div class="input-group-append">
            <button type="submit" class="btn btn btn-primary btn-sm"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>

    </div>
    <!--/.dropdown-container.container-xl-->

  </div>
  <!--/.dropdown-menu.dropdown-menu-right-->
</li>
 <!-- Search Toggle --> 
<!--/.nav-item-->
          
        </ul>

        <ul class="navbar-nav navbar-nav--right w-50 w-md-25 justify-content-end text-right order-1 order-md-3 my-1">
          
            
  
    <li class="nav-item">
      
        <a sec:authorize="isAnonymous()" class="text-uppercase btn btn-link btn-sm my-1" th:href="@{/login}"><span class="d-inline-block">Sign&nbsp;In</span></a>
      
    </li>
  
<li class="nav-item">
  
  <a sec:authorize="isAuthenticated()" class="text-uppercase btn btn-outline-primary btn-sm my-1" th:href="@{/myProfile}"><span class="d-inline-block">My&nbsp;Profile</span></a>
</li>


<li class="nav-item">
  
  <a sec:authorize="isAuthenticated()" class="text-uppercase btn btn-outline-primary btn-sm my-1" th:href="@{/logout}"><span class="d-inline-block">Logout</span></a>
</li>

          
        </ul>

        <a th:href="@{/}" class="navbar-brand mx-auto order-2 my-2"><img alt="Magazinize" th:src="#{adminPath}+@{/assets/img/}+${settings.smallLogo}"></a>
      
      </div>

      
        <hr class="divider navbar-divider">
      

    </div>
    <!-- /.navbar-container container-fluid -->
    
  </nav>
  <!-- /.navbar navbar__middle navbar-expand navbar-light -->
 </header>
    <!-- /.header -->


<main class="main sections sections__main">
   
  <div class="bg sections-bg main-bg position-absolute"></div>


  <div class="section container-xl section__default">
  
        <div class="bg position-absolute section-bg">
        </div>
      <hr class="divider section-divider d-none">
    
    <div class="section-inner">
    
      <div class="sections section-sections row">
  <article id="article" class="section col-12 col-lg mr-lg-gtr2 section__default section__post post post__detail post__default">
  
        <div class="bg position-absolute section-bg">
        </div>
      
      <hr class="divider section-divider d-none">
      
    <div class="section-inner">
    
      <header class="post-header">
            

<div class="post-category text-uppercase">
           <span href="category.html" class="post-category-a" th:text="${news.category}"></span>
        
      
        
</div>
<!-- /.post-meta post-category text-uppercase -->

<h1 class="post-title display-4" th:text="${news.title}"></h1>
   <div class="post-excerpt">
        <p class="lead" th:text="${news.subTitle}">
          
          
         
        </p>
      </div>
      <!-- /.post-excerpt --> 
    <div class="row align-items-center mb-3">
    <div class="col post-meta">
      <div class="media align-items-center">
        
<img src="/assets/avatar/256x256/usericon.png" class="rounded-circle mr-3" alt="Image" width="48" height="48">
        <div class="media-body">
          <span class="post-author d-block mb-0"><span  class="post-meta-a" th:text="${news.author}"></span>, <span  class="post-meta-a" th:text="'@'+${news.author}"></span></span> 
          <span class="post-time"><span class="post-meta-a" th:text="${news.publicationDate}"></span></span>
        </div>
      </div>
      <!-- /.media align-items-center -->
    </div>
    <div class="col d-flex justify-content-end">
      
      
      
      <div class="post-meta">
        <a href="https://www.facebook.com/" target="_blank" class="post-meta-a d-inline-block p-2 px-xl-3"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/" target="_blank" class="post-meta-a d-inline-block p-2 px-xl-3"><i class="fab fa-twitter"></i></a>
        <a th:href="@{/contact}" target="_blank" class="post-meta-a d-inline-block p-2 px-xl-3"><i class="fas fa-envelope"></i></a>
      </div>
      <!-- /.post-meta -->
    </div>
    <!-- /.col d-flex justify-content-end -->
  </div>
  <!-- /.row -->
    </header>
          <!-- /.post-header -->

          
            <figure class="post-thumbnail figure">

<img th:src="#{adminPath}+@{/assets/img/news/}+${news.id}+'.jpg'" class="figure-img" alt="Image"></figure>
          

          <div class="post-content">
            
<p th:utext="${news.description}"></p>
  
  




  
</div>
    </div>
    <!-- /.section-inner -->
  
</article>
<!-- /#article.section col-12 col-lg mr-lg-gtr2 section__default section__post post post__detail post__default-->


        <aside class="col-12 col-lg-300px">

           
          <div class="sticky-top">
  <div id="popularSection" class="section section__default">
  
        <div class="bg position-absolute section-bg">
          
          
        </div>
      
      <hr class="divider section-divider d-none">
      
    
    <div class="section-inner">
    
        <header class="section-header">
          
            <h2 class="section-title"><a href="archive.html" class="section-title-a">Popular</a></h2>
          
        </header>
      
      <div class="section-body">
      

  <div class="posts posts__sumrys row sumrys__divider sumrys__counter counter__inline">

    <article class="post post__default post__sumry sumry__text size-sm col-12 col-sm-6 col-lg-4 col-xl-12 sumry__valign-none" data-th-each="findPopularLast6ByNews : ${findPopularLast6ByNewsList}">
      <div class="sumry-inner">
          <hr class="divider sumry-divider">
        <div class="sumry-body">
  <div class="post-content sumry-content">
  <h3 class="post-title sumry-title">
<a th:href="@{/newsDetail?id=}+${findPopularLast6ByNews.id}" class="post-title-a sumry-title-a" th:text="${findPopularLast6ByNews.title}"></a> </h3>
      <div class="post-meta">
  <span class="post-author"><span class="post-meta-a" th:text="${findPopularLast6ByNews.author}"> </span>
  <span class="post-meta-separator">&nbsp;&#8226;&nbsp;</span>
  <span class="post-time"><span class="post-meta-a" th:text="${findPopularLast6ByNews.publicationDate}"></span>
</div>
  </div>
  <!-- /.post-content sumry-content -->
        </div>
        <!-- /.sumry-body -->
      </div>
      <!-- /.sumry-inner -->
    </article>
    <!-- /.post post__default post__sumry sumry__text size-sm col-12 col-sm-6 col-lg-4 col-xl-12 sumry__valign-none-->
  </div>
  <!-- /.posts posts__sumrys row sumrys__divider sumrys__counter counter__inline -->
      </div>
      <!-- /.section-body -->
    </div>
    <!-- /.section-inner -->
</div>
<!-- /#popularSection.section section__default-->
 
          
  <div id="sideBanner" class="section section__default">
  
    
        <div class="bg position-absolute section-bg">
          
          
        </div>
      
      <hr class="divider section-divider d-none">
    <div class="section-inner">
    
    <div class="banner banner-300x600 align-self-center">
      

<a href="http://html.coolorize.com/magazinize/1.0.0/"><img src="/assets/banners/magazinize-300x600.jpg" alt="Image"></a>


    </div>
    <!-- /.banner banner-300x600 -->
    </div>
    <!-- /.section-inner -->
  
</div>
<!-- /#sideBanner.section section__default-->
          </div>
          <!-- /.sticky-top -->
        
        </aside>
        <!-- /.col-12 col-lg-300px -->
        
      </div>
      <!-- /.sections section-sections row -->
      
    </div>
    <!-- /.section-inner -->
    
</div>
<!-- /.section container-xl section__default-->



 


  
      
  </main>
  <!-- /.sections main-sections -->

      <footer class="sections sections__footer">

            
      <div class="bg sections-bg footer-bg position-absolute"></div>

      
  <div id="footerSection" class="section pt-4 container-fluid section__default">
  
        <div class="bg position-absolute section-bg">
          
          
        </div>
      
      
      <hr class="divider section-divider">
      
    
    
    <div class="section-inner">
    
        
          <div class="section-body section-content">

                <div class="row py-2">

                  <div class="col-12 col-lg">
                    <p class="mb-1">&copy; 2021 NEWS EKSTRA, LLC. All Rights Reserved.</p>
                  </div>
                  <!--/.col-12 col-lg -->

                  <div class="col-12 col-lg">
                    <ul class="list-unstyled mb-0 d-flex justify-content-lg-end">
                     
                      <li class="px-2 mb-1"><a class="" th:href="@{/about}">About</a></li>
                      <li class="px-2 mb-1"><a class="" th:href="@{/contact}">Contact</a></li>
                   
                    </ul>
                  </div>
                  <!--/.col-12 col-lg -->

                </div>
                <!-- /.row -->

          </div>
          <!-- /.section-body -->
    </div>
    <!-- /.section-inner -->
    
</div>
<!-- /#footerSection.section pt-4 container-fluid section__default-->
    </footer>
    <!-- /.sections sections__footer -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->


  <script src="/assets/js/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  <script src="/assets/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="/assets/js/magazinize.js"></script>

  </body>

</html>